<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.SoftSkill.snake_and_ladder">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SnakeLadder">
        <activity android:name="com.SoftSkill.snake_and_ladder.SelectionPage" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.SoftSkill.snake_and_ladder.NamePagePVP" android:windowSoftInputMode="adjustResize" android:screenOrientation="portrait"/>
        <activity android:name="com.SoftSkill.snake_and_ladder.NamePagePVC" android:windowSoftInputMode="adjustResize" android:screenOrientation="portrait"/>
        <activity android:name="com.SoftSkill.snake_and_ladder.PlayerVSPlayer" android:screenOrientation="portrait"/>
        <activity android:name="com.SoftSkill.snake_and_ladder.PlayerVSComputer" android:screenOrientation="portrait"/>
    </application>

</manifest>